html, body{
    font-family: 'Overpass Mono', monospace;
    background-color: #272727;
    color: white;
    background-image: url(../images/Group\ 416.png);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    

}

.full-height {
    height: 100%;
  }

h1{
    font-size: 100px;
    line-height: 90px;
}

h2{
    color:#AFD951;
    font-size: 28px;
}

h3{
    font-size: 28px;
}

.green{
    background-color:#AFD951;
    color: black;
}

.navbar{
    background-color: black;
}

.sidebar{
    background-color: #151515;
}

.height-100{
    height: 100%;

}

p{
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

def{
    font-size: 30px;
    text-align: left;
}

#mainCard{
width: 90%;
max-width: 800px;
height: 500px;
}
